*.aux
*.glo
*.idx
*.log
*.toc
*.ist
*.acn
*.acr
*.alg
*.bbl
*.blg
*.dvi
*.glg
*.gls
*.ilg
*.ind
*.lof
*.lot
*.maf
*.mtc
*.mtc1
*.out
*.synctex.gz
*.png
*.jpg
pisalogo-eps-converted-to.pdf
pisalogo.eps
tesi-frn.eps
tesi-frn.pdf
tesi-frn.tex
tesi.fdb_latexmk
tesi.fls